body, html{
    height: 100%;
}

.leftc{
    background: #bd7ebd;
}

.rightc{
    background: #800080;
}

.cweb{
    background: #ffff95;
}

.jumbotron{
    background-image: url(../img/AdobeStock_308339245.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}